[Desktop Entry]
Name=CXHextris
Comment=X11 version of Hextris
Comment[de]=Farbige X11-Version von Hextris
Comment[fr]=Version X11 en couleurs d'hextris
Comment[pl]=Kolorowa wersja gry xhextris pod X11
Comment[tr]=Düşen blokları yerleştirme oyunu
Exec=xhextris
Icon=cxhextris
Terminal=false
Type=Application
Categories=Game;ArcadeGame;
# vi: encoding=utf-8
